@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'); */



@theme {
    --font-primary : "Nunito Sans", sans-serif;
    --color-secondary : #FFFFFF;
    --color-second : #F1F4F9;
    --color-third: #D8D8D8;
    --color-forth : #4880FF;
    --color-five:#202224;
    --color-bgMain : #F6FAFDE5;
    --color-navBg : #EEF6FBE5;
    --color-border : #EAEEF4;
    --color-PrimaryBlue : #514EF3;
    --color-dark : #1B2431;
    --color-dark2 : #232f3f;
    --color-gray : #7E92A2;
    --color-bgred : #ef3826;
    --color-bglogout : #00000080;
    --color-hover : #6D99FF;
    --color-edit : #E2EAF9;
    --color-bgWhite : #F5F5FB;
    --color-btn : #1EE270;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.leaflet-control-container {
  z-index: 400 !important;
}

.leaflet-pane,
.leaflet-tile-pane,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-tooltip-pane,
.leaflet-popup-pane {
  z-index: 1 !important; 
}

.leaflet-top,
.leaflet-bottom {
  z-index: 1 !important;
}

.leaflet-container {
  z-index: 1 !important;
}
